@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font: var(--font-indie-flower);
}

@theme {
  --color-jhcteal-100: oklch(0.66 0.11 185);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-indie-flower), serif;;
}
